h4 {
  margin-left: 0;
  margin-bottom: 0;  
}
.movie-list{
  display: flex;
  flex-direction: column;
  
  .movie-item {
    display: flex;
    justify-content: space-between;
    
    padding: 0.8rem;
    
    &__body{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: flex-start;
      gap: 0.4rem; 

      &__title{
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;

        fa-icon{
          cursor: pointer;
      
          :hover{
            background-color: #81807b;
          }
        }
      }
      
      
      &__subtitle {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
    &__details{
      display: flex;
      justify-content: center;
    }
    
  }
}

.favorite-icon {
  cursor: pointer;
  color: gold;
}

