<div class="movie-list">
        <div class="movie-item" [appHighlight]="'highlight'">
            <div class="movie-item__body">
                <div class="movie-item__body__title">
                    <!-- <fa-icon
                        [icon]="isFavorite(movie.id) ? faStarSolid : faStarRegular"
                        (click)="toggleFavorite(movie)"
                    ></fa-icon> -->
                    <fa-icon (click)="onToggleFavorite()" [class.active]="favorite"
                        [icon]= "favorite ? faStarSolid : faStarRegular">
                    </fa-icon>
                    {{ movie.title }}
                </div>
                <small class="movie-item__body__subtitle">
                    <span>Release date: {{ movie.release_date }}</span>
                    <span>Budget: {{ movie.budget | moneyPipe }}</span>
                    <span>Duration: {{ movie.duration | durationPipe }}</span>
                </small>
            </div>
            <div class="movie-item__details">
                <button>Details</button>
            </div>
        </div>
</div>